[user]
	name = Jason Day
	email = jason@jlogday.com

[color]
	ui = true

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[init]
	defaultBranch = main

[diff]
	algorithm = histogram
	colovMoved = plain
	mnemonicPrefix = true
	renames = true


[credential]
	helper = cache

[core]
	editor = vim -pc ':normal gg'
	excludesfile = /home/jday/.gitignore
	pager = less -R
	whitespace = trailing-space,space-before-tab

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[alias]
	co = checkout
	ci = commit
	st = status
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	last = log -1 HEAD
